* {
  box-sizing: border-box;
}
.watch-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin: 5px 10px;
  min-height: 40px;
  min-width: 450px;
  font-size: 20px;
}
.btn {
  min-height: 40px;
  max-height: 50px;
  min-width: 50px;
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
}
